Python Tuples

In [ ]:
sports = ("Soccer", "Basketball", "Baseball", "Tennis", "Cricket")
print(sports)
print(type(sports))

Changing a Tuple -> TypeError

In [ ]:
# sports[1] = "Football"  # This will raise an error because tuples are immutable/ unchangeable.

Tuple Length

In [ ]:
sports = ("Soccer", "Basketball", "Baseball", "Tennis", "Cricket")
print(len(sports))

Tuple can contain any data types -> all collections can

In [ ]:
tuple = ("tennis", 30, True)

Tuple with one element

In [ ]:
sports = ("Cricket")  # Single element tuple
print(type(sports))  # This will show as String, not Tuple

Negative Indexing

In [ ]:
sports = ("Soccer", "Basketball", "Baseball", "Tennis", "Cricket")
print(sports)
print(sports[0])  # Accessing the first element
print(sports[-1])  # Accessing the last element, negative indexing

Index Range

In [ ]:
sports = ("Soccer", "Basketball", "Baseball", "Tennis", "Cricket")
print(sports)
print(sports[2:5])  # Accessing the elements between 2:5
print(sports[2:])
print(sports[:4])

Update a Tuple using list

In [ ]:
sports = ("Soccer", "Basketball", "Baseball", "Tennis", "Cricket")

x = list(sports)  # Convert tuple to list
print(x, type(x))
x[1] = "Football"  # Modify the list
sports = tuple(x)  # Convert back to tuple
print(sports)
print(type(sports))
# Python Tuples are immutable sequences, typically used to store collections of heterogeneous data.

Python Sets

In [ ]:
sports = {"Soccer", "Basketball", "Baseball", "Tennis", "Cricket"}

print(sports)
print(type(sports))

Sets does not allow duplicate values

In [ ]:
sports = {"Soccer", "Cricket", "Baseball", "Tennis", "Cricket"}

print(sports)

Add item to a set

In [ ]:
sports = {"Soccer", "Cricket", "Tennis"}

sports.add("football")  # adds a sibnle item
print(sports)           # output -> {'Cricket', 'football', 'Soccer', 'Tennis'}

Update item in a set

In [ ]:
sports = {"Soccer", "Cricket", "Tennis"}

sports.update(["baseball", "golf"])     
print(sports)

Python Range

In [ ]:
range_1 = range(2, 24, 4)
print(range_1)
print(range)

Printing range elements

In [ ]:
print(range[0])
print(range[1])
print(range[2])

Activity -> Find output

In [ ]:
range_2 = range(2,7)
print(range_2[0])
print(range_2[1])
print(range_2[2])

range_3 = range(6)
print(range_3[0])
print(range_3[1])
print(range_3[2])

Dictionary 

* Does not allow duplicate keys
* Ordered
* mutable
* Can contain any data type, no restrictions

* Cannot use the following as dictionary keys
    * list -> [1,2]
    * dict -> {"a",1}
    * set  -> {1,2,3}
* Can use the following as dictionary keys
    * int, float, str, bool
    * tuple (only if it contains only hashable types)
    * frozenset (immutable ersion of set)

In [ ]:
this_dict = {
    "name" : "Suger",
    "weight" : "1kg",
    "price" : 130.35
} 
 
print(this_dict)
print(type(this_dict))

get() function

In [ ]:
this_dict = {
    "name" : "Suger",
    "weight" : "1kg",
    # "price" : 130.35
} 

print(this_dict.get("price", 50.00))  # if the key is not found, it will return the default value 50.00

Update and add key-value pairs in a dictionary

In [ ]:
this_dict = {
    "name" : "Suger",
    "weight" : "1kg",
    "price" : 130.35
} 

this_dict.update({("weight", "2kg"), ("expire_date", "2026-09-02")})    # updates the weight and adds a new key-value pair expire_date
print(this_dict)

Apply pop method to dictionary

In [ ]:
this_dict = {
    "name" : "Suger",
    "weight" : "1kg",
    "price" : 130.35
}

price_popped = this_dict.pop("price")  # deletes the key-value pair with key "price"
print(this_dict)
print("Popped price: " + str(price_popped))

Apply del method to dictionary

In [ ]:
this_dict = {
    "name" : "Suger",
    "weight" : "1kg",
    "price" : 130.35
}

del this_dict["price"]  # deletes the key-value pair with key "price"
print(this_dict)

Apply clear method to dictionary

In [ ]:
this_dict = {
    "name" : "Suger",
    "weight" : "1kg",
    "price" : 130.35
}

this_dict.clear()  # clears the dictionary
print(this_dict)

Activity -> Check duplicates

In [ ]:
product_ids = [101, 102, 103, 104, 105, 106, 107, 103, 109]

unique_product_ids = set(product_ids)  # Convert list to set to remove duplicates
has_duplicates = len(product_ids) != len(unique_product_ids)
print("Has duplicates:", has_duplicates)  # Output: Has duplicates: True

Identity Operators

In [ ]:
x = 5
y = 6
print(x is y)   # Output: False because the values are different

x = 5
y = 5
print(x is y)   # Output: True because both have the same value
                # 'is' checks for identity, not equality
                # In Python, small integers and strings are cached, so 'is' may return True for them.
                # small integers from -5 to 256 are cached by Python. e kiyanne pool ekaka dla e tika kalin hadala thiyenawa. e nisa me range eke thiyena integer walata is use karoth True wenawa.

Membership operators

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True 
print(10 in my_list) # Output: False

print(8 not in my_list)  # Output: True

If statement

In [ ]:
n = 10

if n % 2 == 0:
    print(f"{n} is an even number.")

print("This is out of the if block.")

If Else statement

Calculate Circumference

In [ ]:
PI_VAL = 3.14
r = 50

if r > 0:
    print("Circumference of the circle is: ", 2 * PI_VAL * r)
else:
    print("Radius cannot be negative or 0.")

Calculate hypotenuse

In [37]:
x_length = 3
y_length = 4

if x_length > 0 and y_length > 0:
    print("hypotenuse is: ", (x_length ** 2 + y_length ** 2) ** 0.5)
else:
    print("Lengths must be positive.")

hypotenuse is:  5.0