Data Processing

NumPy

In [ ]:
import numpy as np

array creation

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

print(arr)
print(type(arr))    # <class 'numpy.ndarray'>

operations

In [ ]:
import numpy as np

arr1 = np.array([4, 8, 12, 16, 20, 24])
arr2 = np.array([2, 4, 6, 8, 10, 12])

arr3 = arr1 + arr2
print(arr3)     # [ 6 12 18 24 30 36]

arr4 = arr1 - arr2
print(arr4)     # [ 2  4  6  8 10 12]

arr5 = arr1 * arr2
print(arr5)    # [  8  32  72 128 200 288]

arr6 = arr1 / arr2
print(arr6)   # [2. 2. 2. 2. 2. 2.]

build-in functions

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

print(np.sum(arr))      # 45
print(np.mean(arr))     # 5.0
print(np.max(arr))      # 9
print(np.min(arr))      # 1
print(np.sqrt(arr))     # [1.         1.41421356 1.73205081 2.         2.23606798 2.44948974 2.64575131 2.82842712 3.        ]
print(np.std(arr))      # 2.581988897471611

2d array

In [ ]:
import numpy as np

arr = np.array([
    [1, 2, 3], 
    [4, 5, 6]
])

print(arr)
print(arr.shape)    # (2, 3)
print(arr.size)     # 6
print(arr.ndim)     # 2

3d array

In [ ]:
import numpy as np

arr = np.array([
    [[1, 2], [3, 4], [5, 6]], 
    [[7, 8], [9, 10], [11, 12]], 
    [[13, 14], [15, 16], [17, 18]]
])

print(arr)
print(arr.shape)    # (3, 3, 2)
print(arr.size)     # 18
print(arr.ndim)     # 3

accessing to elements

In [ ]:
import numpy as np

arr = np.array([
    [1, 2, 3], 
    [4, 5, 6]
])

print(arr[0, 1])    # 2
print(arr[1, 2])    # 6

activity

In [ ]:
import numpy as np

arr = np.array([
    [[1, 2], [5, 7], [9, 8]], 
    [[3, 4], [6, 8], [10, 12]], 
    [[11, 13], [14, 16], [18, 20]]
])

print(arr[1, 0, 0])         # 3 - positive indexing
print(arr[-2, -3, -2])      # 3 - negative indexing

print(arr[2, 1, 0])         # 14 - positive indexing
print(arr[-1, -2, -2])      # 14 - negative indexing

boolean indexing in numpy

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# condition = arr > 5

# print(condition)              # [False False False False False  True  True  True  True]

# filtered_arr = arr[condition]

filtered_arr = arr[arr > 5]     # mem liynn condition ek
print(filtered_arr)             # [6 7 8 9]

activity

In [ ]:
import numpy as np

arr = np.array([
    [12, 5, 7, 20], 
    [3, 15, 8, 2], 
    [10, 25, 6, 18],
    [4, 11, 39, 9]
])

filtered_arr = arr[((arr > 10) | (arr < 5)) & (arr != 15)]
print(filtered_arr)             # [12 20 3 2 25 18 4]

array initialization

np.zeros()

In [ ]:
import numpy as np

arr = np.zeros((3, 4))
print(arr)

np.full()

In [ ]:
import numpy as np

arr = np.full((3, 4), 7)
print(arr)

np.empty()

In [ ]:
import numpy as np

arr = np.empty((3, 2))
print(arr)

Pandas

pandas dataframe

In [ ]:
import pandas as pd

data = {
    'Name': ['Gamitha', 'Ushan', 'Aloka', 'Chamith'],   
    'Age': [21, 26, 20, 23],
    'City': ['Homagama', 'Kottawa', 'Moratuwa', 'Piliyandala']
}

df = pd.DataFrame(data)
print(df)
print(type(df))    # <class 'pandas.core.frame.DataFrame'>

loc

In [ ]:
import pandas as pd

data = {
    'Name': ['Gamitha', 'Ushan', 'Aloka', 'Chamith'],   
    'Age': [21, 26, 20, 23],
    'City': ['Homagama', 'Kottawa', 'Moratuwa', 'Piliyandala']
}

df = pd.DataFrame(data)
print(df.loc[1])    # Access row by label (index)

print(df.loc[2, 'Age'])  # Access specific value by row and column labels

iloc

In [ ]:
import pandas as pd

data = {
    'Name': ['Gamitha', 'Ushan', 'Aloka', 'Chamith'],   
    'Age': [21, 26, 20, 23],
    'City': ['Homagama', 'Kottawa', 'Moratuwa', 'Piliyandala']
}

df = pd.DataFrame(data)
print(df.iloc[2])    # Access row by integer position

print(df.iloc[3, 0])  # Access specific value by row and column positions

named indexes

In [ ]:
import pandas as pd

data = {
    'calories': [420, 380, 390],
    'duration': [50, 40, 45]
}

df = pd.DataFrame(data, index= ['day1', 'day2', 'day3'])
print(df)
print('_ _ _ _ _ _ _ _ _ _ _ _ _')

print(df.loc['day2'])
print('_ _ _ _ _ _ _ _ _ _ _ _ _')

print(df.loc[['day1', 'day3']])

named indexes accessing through columns

In [ ]:
import pandas as pd

data = {
    'calories': [420, 380, 390],
    'duration': [50, 40, 45]
}

df = pd.DataFrame(data, index= ['day1', 'day2', 'day3'])
print(df)
print('_ _ _ _ _ _ _ _ _ _ _ _ _')

print(df['calories'])

NumPy functions in pandas

In [ ]:
import pandas as pd

data = {
    'Name': ['Gamitha', 'Ushan', 'Aloka', 'Chamith'],   
    'Age': [21, 26, 20, 23],
    'City': ['Homagama', 'Kottawa', 'Moratuwa', 'Piliyandala']
}

df = pd.DataFrame(data)
print(df)
print(df.shape)
print(df.size)
print(df.values)

calculate number of rows

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

print(df.shape[0])  # number of rows

print(len(df))      # number of rows

Access the last row in a dataframe

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
print(df.iloc[-1])      # Access the last row

get list of columns

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
print(df.columns)           # Index(['Age', 'Salary'], dtype='object')
print(list(df.columns))     # ['Age', 'Salary']

adding a new column to the dataframe

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

df['Distance'] = [5, 10, 15, 20, 25]   # Adding a new column

print(df)

adding a new row

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

df.loc[len(df)] = {'Age': 70, 'Salary': 100000}     # Adding a new row

print(df)

.sum() / .mean() / .describe()

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

print(df.sum())
print('_ _ _ _ _ _ _ _ _')

print(df.mean())
print('_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _')

print(df.describe())

filter from a dataframe

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

filtered_df = df[df['Age'] > 30]       # Filter rows where Age > 30

print(filtered_df)
print(type(filtered_df))

filter from a dataframe

In [ ]:
import pandas as pd

data = {  
    'Age': [25, 30, 35, 40, 60],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

filtered_df = df[(df['Age'] > 28) & (df['Salary'] > 65000)]       # Filter rows where Age > 28 and Salary > 65000

print(filtered_df)
print(type(filtered_df))

activity

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headset'],
    'UnitSold': [12, 50, 34, 20, 40],
    'Price': [120000, 1500, 3500, 25000, 6000],
    'Discount': [0.10, 0.05, 0.08, 0.12, 0.07]      # discount as a fraction
})

print(df)
print('_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _')

df['FinalPrice'] = df['Price'] * (1 - df['Discount'])
df['TotalRevenue'] = df['UnitSold'] * df['FinalPrice']

print(df)
print('_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _')

filtered_df = df[df['TotalRevenue'] > 500000]
print(filtered_df)
print('_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _')

Total_Revenue_Sum = df['TotalRevenue'].sum()
print(f'Total Revenue from all products: {Total_Revenue_Sum}')

dropping a column

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headset'],
    'UnitSold': [12, 50, 34, 20, 40],
    'Price': [120000, 1500, 3500, 25000, 6000],
    'Discount': [0.10, 0.05, 0.08, 0.12, 0.07]
})

new_df = df.drop('Discount', axis=1)   # Dropping the 'Discount' column
print(new_df)

dropping a row

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headset'],
    'UnitSold': [12, 50, 34, 20, 40],
    'Price': [120000, 1500, 3500, 25000, 6000],
    'Discount': [0.10, 0.05, 0.08, 0.12, 0.07]
})

new_df = df.drop(3, axis=0)   # Dropping the row with label 3
print(new_df)